section#business-plan
  div(class="container mx-auto max-w-7xl flex flex-col gap-10")
    div(class="max-w-2xl mx-auto")
      h2 
      | Bring your business plan to life
      p
      | Abacum is everything finance teams need to forecast revenue, plan headcount, or budget OPEX. Easily define metrics, change assumptions, and adjust headcount from an intuitive interface.
    div(class="grid grid-cols-1 gap-10 lg:grid-cols-3")
      article(class="flex flex-col gap-5")
        img(src="", alt="")
        h3
        | Finally, formulas you can understand
        p
        | Model your metrics with formulas you can easily understand and trace. Abacum delivers precision and accuracy at scale.