include ../button.pug

section(class="px-[.625rem] py-[3.75rem] flex flex-col items-center gap-5 bg-blue-300 relative z-10")
  h2(class="w-full text-2xl text-center text-neutral-100 xl:text-[2.5rem] sm:max-w-xl xl:max-w-3xl leading-8 lg:leading-[3rem] font-semibold")
    | Finance teams spend 75% less time on manual tasks with Abacum
  +button('tertiary', 'Request a demo', '', 'https://www.abacum.ai/demo')
  div(class="sm:hidden")
    img(src="../src/static/images/background.svg", class="absolute top-0 right-0 -z-10")
    img(src="../src/static/images/background.svg", class="absolute bottom-0 left-0 rotate-180 -z-10")
  div(class="hidden sm:block xl:hidden")
    img(src="../src/static/images/background-sm.svg", class="absolute top-0 right-0 -z-10")
    img(src="../src/static/images/background-sm.svg", class="absolute bottom-0 left-0 rotate-180 -z-10")
  div(class="hidden xl:block")
    img(src="../src/static/images/background-xl.svg", class="absolute top-0 right-0 -z-10")
    img(src="../src/static/images/background-xl.svg", class="absolute bottom-0 left-0 rotate-180 -z-10")
