footer#footer(class="footer py-[3.75rem]")
  div(class="footer-container mx-auto max-w-7xl px-[10px] lg:px-10 xl:px-4")
    div(class="flex flex-col justify-between gap-20 lg:flex-row lg:gap-12 xl:gap-24")
      nav(class="footer-nav grid grid-cols-2 gap-10 order-1 md:grid-cols-3 lg:grid-cols-5 lg:gap-24 lg:order-2")
        // Product
        ul(class="product-list flex flex-col gap-4")
          li Product
          li 
            a(href="https://www.abacum.io/product/platform") Platform
          li 
            a(href="https://www.abacum.io/pricing") Plans
          li 
            a(href="https://www.abacum.io/product/reporting") Reporting
          li 
            a(href="https://www.abacum.io/product/planning") Planning
          li 
            a(href="https://www.abacum.io/customers") Customers
          li 
            a(href="https://www.abacum.io/product/integrations") Integrations
          li 
            a(href="https://www.abacum.io/product/security") Security

        // Persona
        ul(class="persona-list flex flex-col gap-4")
          li Persona
          li 
            a(href="https://www.abacum.io/solutions/cfo") CFOs
          li 
            a(href="https://www.abacum.io/solutions/fintech") FP&amp;A Managers
          li 
            a(href="https://www.abacum.io/solutions/revops") RevOps

        // Industry
        ul(class="industry-list flex flex-col gap-4")
          li Industry
          li 
            a(href="https://www.abacum.io/solutions/saas") SaaS
          li 
            a(href="https://www.abacum.io/solutions/fintech") Fintech
          li 
            a(href="https://www.abacum.io/solutions/mobility") Mobility
          li 
            a(href="https://www.abacum.io/solutions/marketplaces") Marketplaces
          li 
            a(href="https://www.abacum.io/solutions/martech") Martech
        
        // Resources
        ul(class="resources-list flex flex-col gap-4")
          li Resources
          li 
            a(href="https://www.abacum.io/resources/what-is-fpa") What is FP&amp;A
          li 
            a(href="https://www.abacum.io/blog") Blog
          li 
            a(href="https://www.abacum.io/ebooks") Ebooks
          li 
            a(href="https://www.abacum.io/templates") Templates
          li 
            a(href="Webinars") Webinars
          li 
            a(href="https://www.abacum.io/glossary") Glossary
          li 
            a(href="https://www.abacum.io/cfo-days") CFO Days

        // Company
        ul(class="company-list flex flex-col gap-4")
          li Company
          li 
            a(href="https://www.abacum.io/about-us/company") About Us
          li 
            a(href="https://www.abacum.io/careers") Careers
          li 
            a(href="https://www.abacum.io/contact-us") Contact Us
      div(class="footer-info flex flex-col gap-5 order-2 max-w-[256px] lg:gap-10 lg:order-1")
        // Logo
        div(class="footer-logo flex flex-col gap-5")
          a(href="https://www.abacum.io/")
            img(src="../src/static/images/logo.svg", alt="abacum logo")
          p
          | FP&amp;A, automated.
          br
          | Time is money, insights too.
        // Social Media
        div(class="social-media")
          ul(class="flex")
            li
              a(href="https://www.linkedin.com/company/abacum-io")
                img(src="../src/static/images/linkedin.svg", alt="linkedin icon")
            li
              a(href="https://twitter.com/abacum_io?lang=en")
                img(src="../src/static/images/twitter.svg",  alt="twitter icon")
            li
              a(href="mailto:support@abacum.io?subject=Hey%20Abacum!", target="_blank")
                img(src="../src/static/images/email.svg", alt="email icon")
        // Awards
        div(class="awards flex")
          img(src="../src/static/images/support-fall.svg", alt="best support", width="62", height="80")
          img(src="../src/static/images/leader-fall.svg", alt="leader", width="62", height="80")
          img(src="../src/static/images/easiest-fall.svg", alt="easiest to use", width="62", height="80")
  // Copy
  div(class="copy mt-10 lg:mt-20")
      ul(class="flex gap-5")
        li © 2024 Abacum Inc
        li
          a(href="https://www.abacum.io/privacy-policy") Privacy Policy
        li
          a(href="https://www.abacum.io/cookies-policy") Cookies Policy