include ../section-header.pug
include ../business-system-card.pug
include ../button.pug

section(class="flex flex-col items-center text-center mx-auto px-[.625rem] py-5 lg:py-10 xl:py-[60px] bg-[#ebf8ff]") 
  +section-header("Automated FP&A starts with direct integrations", "Abacum fits into any workflow and connects with any business critical system your company uses.")
  div(class="grid grid-cols-1 gap-5 w-full max-w-7xl sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mb-10 mt-12")
    +card('../src/static/images/salesforce.webp', 'Salesforce', 'block')
    +card('../src/static/images/netsuite.webp', 'Netsuite')
    +card('../src/static/images/google-sheet.webp', 'Google Sheets')
    +card('../src/static/images/workday.webp', 'Workday Adaptive', 'hidden sm:flex')
    +card('../src/static/images/tableau.webp', 'Tableau', 'hidden sm:flex')
    +card('../src/static/images/xero.webp', 'Xero', 'hidden sm:flex')
    +card('../src/static/images/snowflake.webp', 'Snowflake', 'hidden lg:flex')
    +card('../src/static/images/personio.webp', 'Personio', 'hidden lg:flex')
  +button('primary', 'Explore more integrations', 'py-3 px-4 text-base')