include ../section-header.pug

section(id="reports", class="max-w-7xl mx-auto flex flex-col gap-10 px-2.5 py-5 lg:px-10 lg:py-10 xl:px-4 xl:py-[60px]")
  div
    +section-header("Reports and insights are fully automated", "Abacum automates your manual reporting with templates that always have real time data. Letting you forget the manual work to focus on identifying the strategic wins.")
  div(class="grid grid-cols-1 gap-10 lg:grid-cols-2")
    img(src="../src/static/images/templatesimage.webp", alt="templatesimage", class="rounded-lg w-full")
    img(src="../src/static/images/image-1-2.webp", alt="templatesimage2", class="rounded-lg w-full")
