doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='main.css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Abacum
  body
    //- include components/site-header.pug
    include components/sections/integrations.pug
    include components/sections/cta.pug