mixin card(type, link, heading, text)
  if type == "business-plan"    
    article(class="flex flex-col gap-5")
        img(src=link, alt="", class="rounded-lg w-full")
        div(class="flex flex-col gap-2")
          h3(class="font-semibold")
            | #{heading}
          p(class="text-neutral-500")
            | #{text}