header.header
  img(class="logo" src="../src/static/images/logo.svg" alt="abacum logo")
  // [Hidden] Desktop Nav START
  nav.header__nav--desktop
    ul.header__nav__list 
      li.header__nav__item
        a.header__nav__link(href="#") Product
        ul.header__sub-nav__list
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Reporting
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Planning
      li.header__nav__item
        a.header__nav__link(href="#") Integrations
      li.header__nav__item
        a.header__nav__link(href="#") Customers
      li.header__nav__item
        a.header__nav__link(href="#") Plans
      li.header__nav__item
        a.header__nav__link(href="#") Resources
        ul.header__sub-nav__list
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") What is FP&A?
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Blog
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Ebooks
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Webinars
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Interviews
      li.header__nav__item
        a.header__nav__link(href="#") Company
        ul.header__sub-nav__list
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") About
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Careers
  // [Hidden] Desktop Nav END
  div.btn-group
    // [Hidden] Desktop Login Btn START
    a(href="#") Login
    // [Hidden] Desktop Login Btn END
    a(href="#") Request a demo
    // Mobile nav
    a(href="#")
      svg(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6")
        path(stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5")


