header.header
  // [Hidden] Desktop Nav START
  nav.header__nav--desktop
    ul.header__nav__list 
      li.header__nav__item
        a.header__nav__link(href="#") Product
        ul.header__sub-nav__list
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Reporting
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Planning
      li.header__nav__item
        a.header__nav__link(href="#") Integrations
      li.header__nav__item
        a.header__nav__link(href="#") Customers
      li.header__nav__item
        a.header__nav__link(href="#") Plans
      li.header__nav__item
        a.header__nav__link(href="#") Resources
        ul.header__sub-nav__list
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") What is FP&A?
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Blog
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Ebooks
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Webinars
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Interviews
      li.header__nav__item
        a.header__nav__link(href="#") Company
        ul.header__sub-nav__list
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") About
          li.header__sub-nav__item 
            a.header__sub-nav__link(href="#") Careers
  // [Hidden] Desktop Nav END

